body{
    background-color: rgb(177, 192, 203);
}

h1{
    margin-top: 25px;
    margin-bottom: 25px;
}

h2{
    margin-bottom: 25px;
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}

#section1{
    background-color: aliceblue;
}

#section2{
    background-color: rgb(207, 233, 255);
}

#div-form{
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 85%;
    align-items: baseline;
}

#resultado{
    margin: 8%;
}
#box-r{
    margin: 3%;
    border-color: black;
    background-color: aliceblue;
    border-radius: 20px;
    width: 50%;
    height: 50%;
}
button{
    margin: 4%;
}